<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title%></title>
</head>
<body>
    <h1><%= title %></h1>
    <div role="main">
        <% if (content) { %>
            <ol>
                <% for(let i in content) { %>
                    <% let obj = content[i]; %>
                    <li>
                        <a href="<%= obj.link %>">
                            <%= obj.title %>
                        </a>
                    </li>
                <% } %>
            </ol>
        <% } %>
    </div>
</body>
</html>