<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGIN</title>
    <link type="text/css" rel="stylesheet" href="style.css">
    <script>
        function setId(){
            let id = document.querySelector('#id_input').value;
            localStorage.setItem('id', id);
            location.href = '/';
        }
    </script>

</head>
<body>
    <h1>LOGIN</h1>
    <div role="main">
        <p>Enter your login name</p>
        <p>
            <input type="text" id="id_input">
            <button onclick="setId()">send</button>
        </p>
    </div>
</body>
</html>